.shot-input {
    width: 15%;
    height: 40%;
    background-color: green;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shot-input label {
    font-size: 1.5em;
    margin-bottom: 10px;
    white-space: nowrap;
}

.shot-input label input {
    display: block; 
    margin-top: 5px;
}

.shot-input button {
    width: 200px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto; 
    padding: 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.shot-input button:hover {
    background-color: #ff6347;
}
